#header{
    /*
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    */
}
#navigation{
    float: right;
}
#navigation a{
    font-size: 25px;
}
#inner-header{
    position:
}
#welcome{
    /*background-color: red;*/
}
#services{
    /*background-color: gold;*/
    margin-top: 30px;
    margin-bottom: 20px;
}
#past-work{
    margin-top: 10px;
    margin-bottom: 20px;
    /*background-color: red;*/
}
#our-story{
    margin-top: 10px;
    margin-bottom:20px;
}
#meet-the-team{
    margin-top: 10px;
    margin-bottom: 20px;
}

#footer{
    background-color: rgba(190,190,190,.6);
    color: white;
}
body{
    /*background-color: gold;*/
}
.display-2{
    text-shadow: 1px 1px 5px gray;
}