#header{
    /*
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    */
}
#inner-header{
    position:
}
#welcome{
    /*background-color: red;*/
}
#services{
    /*background-color: gold;*/
    margin-top: 10px;
    margin-bottom: 20px;
}
#past-work{
    margin-top: 10px;
    /*background-color: red;*/
}
#navigation{
    float: right;
}
#navigation a{
    font-size: 25px;
}
#footer{
    background-color: rgba(190,190,190,.6);
    color: white;
}
body{
    /*background-color: gold;*/
}
